#mySidenav a {
    position: absolute;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 0px 0px 5px;
}

#mySidenav a:hover {
    right: 0;
}

#about {
    top: 380px;
    background-color: #4CAF50;
}